<div class="footer">
    <p class="footer-title">Contact me!</p>
    <p class="footer-link"><i class="far fa-envelope"> :</i><a href="mailto:algren.pauna@gmail.com" target="_blank"> algren.pauna@gmail.com</a></p>
    <p class="footer-link"><i class="fab fa-github"> :</i><a href="https://github.com/algren123" target="_blank"> algren123</a></p>
    <p class="footer-link"><i class="fab fa-linkedin"> :</i><a href="https://www.linkedin.com/in/algren-pauna/" target="_blank"> algren-pauna</a></p>
</div>