<div class="contact-page">
    <div class="contact-header">
        <h2 class="contact-subtitle">Connect with me</h2>
        <h1 class="contact-title">Say Hello!</h1>
        <p class="contact-description">Get in touch with me by filling out the form or reach out directly by emailing me at <span class="contact-email">algren.pauna@gmail.com</span>.</p>
    </div>
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <div class="form">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Your name</mat-label>
                    <input matInput placeholder="Name">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Email">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput placeholder="Your message"></textarea>
                </mat-form-field>
        
                <button type="submit" class="submit-button" mat-raised-button>Send</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="socials">
              <h1 class="social-title">Or you can find me on the following:</h1>
              <div class="links">
                  <h3 class="github-link">Github: <a href="https://github.com/algren123" target="_blank">@algren123</a></h3>
                  <h3 class="linkedin-link">LinkedIn: <a href="https://www.linkedin.com/in/algren-pauna/" target="_blank">algren-pauna</a></h3>
              </div>
          </div>  
        </mat-grid-tile>
    </mat-grid-list>
    
</div>